<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smiling or not</title>
        <link href="static/stylesheets/style.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Smiling or unsmiling classification - <a href="" target="_blank">github</a>.</h1>
        <hr>
        <h2>Upload your image and get prediction.</h2>
        <form action="/", method="post" enctype="multipart/form-data">
            <input type="file" name="imagefile">
            <input type="submit">
        <br>
        <h2>Prediction: {{predict}}</h2>
        </form>
        <hr>
        <img src="static/gif.gif">
    </body>
</html>
