<!DOCTYPE html>
<html>
    <head>
        <title>Some title</title>
        <link rel="stylesheet" href="npm i bootstrap@5.2.2" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="text-center">Some shit</h1>

        <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data" >
            <input class="form-control" type="file" name="imagefile" >
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image" >
        </form>
    </body>
</html>
